table {
	border-collapse: collapse;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	font-size: 1rem;

	thead th {
		position: sticky;
		top: 0;
	}
	.ranking {
		width: 3rem;
	}
	.time {
		width: 5rem;
	}
	.event {
		width: auto;
	}
	.date {
		width: 4.5rem;
	}

	th {
		text-align: left;
		background-color: black;
		color: white;
		font-weight: bold;
	}

	tr, td, th {
		border: 1px solid #ddd;
		padding: .25rem .4rem;
	}

	a {
		color: inherit;
	}

	.home & {
		@include allAbove(medium){
			table-layout: fixed;
		}
		
	}

	
	&.complex {
		font-size: .85rem; 

		tr:nth-child(even){
			background: #f7f7f7;
		}

		@include allAbove(medium){
			font-size: 1rem;

			.event {
				width: 25rem;
			}
		}
	
	}
}
