table {
	border-collapse: collapse;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	font-size: 1rem;

	thead th {
		position: sticky;
		top: 0;
	}
	
	th {
		text-align: left;
		background-color: black;
		color: white;
		font-weight: bold;
	}

	td, th {
		border: 1px solid #ddd;
		padding: .25rem .4rem;
	}

	a {
		color: inherit;
	}

	@include allAbove(medium){
		
	}
	
	&.complex {
		tr:nth-child(even){
			background: #f7f7f7;
		}
	}
}
