{% assign sortedHistoryItems = site.categories.['history'] | sort: 'event_date' %}

<table role="table" class="history-table">
    <thead role="rowgroup">
      <tr role="row">
        <th role="columnheader">Date</th>
        <th role="columnheader">Event</th>
        <th role="columnheader">Details</th>
        <th role="columnheader">Time</th>
        <th role="columnheader">Ranking</th>
      </tr>
    </thead>
    
    <tbody role="rowgroup">
        {% for historyItem in sortedHistoryItems %}
        {% if historyItem.highlight %}
        <tr role="row"> 
            <td role="cell">{{historyItem.event_date | date: "%d-%m-%Y" }}</td>
            <td role="cell">{% if historyItem.link %}<a href="{{historyItem.link}}">{{historyItem.title}}</a>{% else %}{{historyItem.title}} {% endif %}</td>
            <td role="cell">
              {{historyItem.distance | replace: ',', '' | divided_by: 1000 | append: 'km' }}
              {% if historyItem.elevation %}
              , {{historyItem.elevation | replace: ',', ''| append: 'm d+' }}
              {% endif %}
              {% if historyItem.surface %}
              , {{historyItem.surface | downcase }}
              {% endif %}
            </td>
            <td role="cell">{{historyItem.time}}</td>
            <td role="cell">{{historyItem.ranking | replace: ' ', ''}}</td>
          </tr>
        {% endif %}
	    {% endfor %}
    </tbody>
  </table>