<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>

<body>
	{% include header.html %}
	<main class="main home">
		<section class="main-section intro"> 
			<h2 class="section-title">My name is Simen. I'm a Norwegian ultrarunner. Welcome to my corner on the Internet.</p>
		</section>

		{% assign sortedHistoryItems = site.categories.history | sort: 'event_date' %}

		<section class="main-section career-highlights" id="#running-cv">
			<div class="main-section__inner">
				{% for historyItem in sortedHistoryItems %}
					
				{% if forloop.first %}
				<header>
					<h2 class="section-title--small">
						I've done <em>{{ forloop.length }} races </em> so far in my career.
						These are the ones I'm most proud of:
					</h2>
				</header>
				{% endif %}

				{% endfor %}
				{% include history-highlights.html %}

				<div>
					<a class="full-cv-link"  href="{{ "/running-cv" | relative_url }}">View my complete <em>running CV here</em>.</a>
				</div>
			</div>
		</section>

		<section class="main-section page-img">
			<div class="main-section__inner">
				<img src={{ "/media/simen-2.jpg" | relative_url }} alt="Simen Holvik"/>
			</div>
		</section>

		<section class="main-section page-img desktopOnly" data-scroll-speed="3">
			<div class="main-section__inner">
				<img src={{ "/media/simen-4.jpg" | relative_url }} alt="Simen Holvik"/>
			</div>
		</section>

		<section class="main-section agenda" id="#agenda">
			<div class="main-section__inner">
				<header>
					<h2 class="section-title--small">Here's what I'm planning for the near <em>future</em>:</h2>
				</header>
				{% include agenda.html %}
			</div>
		</section>

		<section class="main-section blog">
			<div class="main-section__inner">
				<h2 class="section-title"> I do some <em>writing</em> on Medium, mostly in Norwegian. Have a look.</h2>
				{% include mediumPosts.html %}
			</div>
		</section>

		<section class="main-section page-img">
			<div class="main-section__inner">
				<img src={{ "/media/simen-3.jpg" | relative_url }} />
			</div>
		</section>

		<section class="main-section sponsors">
			<div class="main-section__inner">
				<header>
					<h2 class="section-title">I'm lucky enough to have some great <em class="highlight">sponsors</em> with me on my journey. Check them out:</h2>
				</header>
				{% include sponsors.html %}
			</div>
		</section>
	</main>
	
	{% include footer.html %}